# References
# https://git-scm.com/docs/gitignore
# https://github.com/github/gitignore/blob/master/Python.gitignore

# Non-source files
*.bak
*.bak.*
*.backup
*.log
*.tmp

# Project paths / files
build/
cache/
logs/
out/
output/
temp/
tmp/

# Data paths / files
*.sqlite
data/

# IDEs paths / files
*.code-workspace
.idea/
.vscode/

# Development paths / files
*.tfstate
.terraform/
.terragrunt-cache/
.antlr/

# _____________________________________________________________________________
# Python
*.cover
.pytest_cache/
.nox/
.tox/
.cache
.coverage
.coverage.*

# Python byte-compiled / optimized / DLL files
__pycache__/
*.py[cd]
*$py.class
*.so

# Python Environments
.env/
env/
.venv/
venv/
